In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [5]:
from google.colab import files
uploaded = files.upload()

Saving default of credit card clients.xls to default of credit card clients (1).xls

Read Excel File

In [26]:
df= pd.read_excel('default of credit card clients.xls')
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns

df_scaled = df.copy()

Basic data set information

```

```

In [7]:
print("\n=== BASIC DATA ANALYSIS ===")
print("\n1. Dataset Overview:")
print(df.info())

=== BASIC DATA ANALYSIS ===

1. Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30001 entries, 0 to 30000
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  30001 non-null  object
 1   X1          30001 non-null  object
 2   X2          30001 non-null  object
 3   X3          30001 non-null  object
 4   X4          30001 non-null  object
 5   X5          30001 non-null  object
 6   X6          30001 non-null  object
 7   X7          30001 non-null  object
 8   X8          30001 non-null  object
 9   X9          30001 non-null  object
 10  X10         30001 non-null  object
 11  X11         30001 non-null  object
 12  X12         30001 non-null  object
 13  X13         30001 non-null  object
 14  X14         30001 non-null  object
 15  X15         30001 non-null  object
 16  X16         30001 non-null  object
 17  X17         30001 non-null  object
 18  X18         30001 non-null  object
 19  X19         30001 non-null  object
 20  X20         30001 non-null  object
 21  X21         30001 non-null  object
 22  X22         30001 non-null  object
 23  X23         30001 non-null  object
 24  Y           30001 non-null  object
dtypes: object(25)
memory usage: 5.7+ MB
None

First and Last Records

In [8]:
print("\n2. First 5 Records:")
print(df.head())

print("\n3. Last 5 Records:")
print(df.tail())

2. First 5 Records:
  Unnamed: 0         X1   X2         X3        X4   X5     X6     X7     X8  \
0         ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3
1          1      20000    2          2         1   24      2      2     -1
2          2     120000    2          2         2   26     -1      2      0
3          3      90000    2          2         2   34      0      0      0
4          4      50000    2          2         1   37      0      0      0

      X9  ...        X15        X16        X17       X18       X19       X20  \
0  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3
1     -1  ...          0          0          0         0       689         0
2      0  ...       3272       3455       3261         0      1000      1000
3      0  ...      14331      14948      15549      1518      1500      1000
4      0  ...      28314      28959      29547      2000      2019      1200

        X21       X22       X23                           Y
0  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1         0         0         0                           1
2      1000         0      2000                           1
3      1000      1000      5000                           0
4      1100      1069      1000                           0

[5 rows x 25 columns]

3. Last 5 Records:
      Unnamed: 0      X1 X2 X3 X4  X5  X6  X7  X8  X9  ...    X15    X16  \
29996      29996  220000  1  3  1  39   0   0   0   0  ...  88004  31237
29997      29997  150000  1  3  2  43  -1  -1  -1  -1  ...   8979   5190
29998      29998   30000  1  2  2  37   4   3   2  -1  ...  20878  20582
29999      29999   80000  1  3  1  41   1  -1   0   0  ...  52774  11855
30000      30000   50000  1  2  1  46   0   0   0   0  ...  36535  32428

         X17    X18    X19    X20   X21    X22   X23  Y
29996  15980   8500  20000   5003  3047   5000  1000  0
29997      0   1837   3526   8998   129      0     0  0
29998  19357      0      0  22000  4200   2000  3100  1
29999  48944  85900   3409   1178  1926  52964  1804  1
30000  15313   2078   1800   1430  1000   1000  1000  1

[5 rows x 25 columns]

Shape and Structure

In [10]:
print("\n3. Dataset dimensions:")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

print("\nColumn Names:")
print(df.columns.tolist())

3. Dataset dimensions:
Rows: 30001, Columns: 25

Column Names:
['Unnamed: 0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'Y']

Data Types

In [11]:
print("\n4. Data Types of Columns:")
print(df.dtypes)

4. Data Types of Columns:
Unnamed: 0    object
X1            object
X2            object
X3            object
X4            object
X5            object
X6            object
X7            object
X8            object
X9            object
X10           object
X11           object
X12           object
X13           object
X14           object
X15           object
X16           object
X17           object
X18           object
X19           object
X20           object
X21           object
X22           object
X23           object
Y             object
dtype: object

Checking missing values

In [12]:
df.isnull().any().any()

np.False_

Descriptive Statistics

In [13]:
print("\n5. Descriptive Statistics:")
print(df.describe())

5. Descriptive Statistics:
        Unnamed: 0     X1     X2     X3     X4     X5     X6     X7     X8  \
count        30001  30001  30001  30001  30001  30001  30001  30001  30001
unique       30001     82      3      8      5     57     12     12     12
top          30000  50000      2      2      2     29      0      0      0
freq             1   3365  18112  14030  15964   1605  14737  15730  15764

           X9  ...    X15    X16    X17    X18    X19    X20    X21    X22  \
count   30001  ...  30001  30001  30001  30001  30001  30001  30001  30001
unique     12  ...  21549  21011  20605   7944   7900   7519   6938   6898
top         0  ...      0      0      0      0      0      0      0      0
freq    16455  ...   3195   3506   4020   5249   5396   5968   6408   6703

          X23      Y
count   30001  30001
unique   6940      3
top         0      0
freq     7173  23364

[4 rows x 25 columns]

 Check for Duplicates

In [16]:
print("\n6. Duplicate Records:")
print(df[df.duplicated()])
print(f"Total duplicate rows: {df.duplicated().sum()}")

6. Duplicate Records:
Empty DataFrame
Columns: [Unnamed: 0, X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14, X15, X16, X17, X18, X19, X20, X21, X22, X23, Y]
Index: []

[0 rows x 25 columns]
Total duplicate rows: 0

Unique Values Analysis

In [17]:
print("\n7. Unique Values Analysis:")
for column in df.columns:
    print(f"\nColumn: {column}")
    print(f"Number of unique values: {df[column].nunique()}")
    if df[column].dtype == 'object' or df[column].nunique() < 10:
      print("Value counts:")
    print(df[column].value_counts())

7. Unique Values Analysis:

Column: Unnamed: 0
Number of unique values: 30001
Value counts:
Unnamed: 0
30000    1
29984    1
29983    1
29982    1
29981    1
        ..
5        1
4        1
3        1
2        1
1        1
Name: count, Length: 30001, dtype: int64

Column: X1
Number of unique values: 82
Value counts:
X1
50000        3365
20000        1976
30000        1610
80000        1567
200000       1528
             ...
LIMIT_BAL       1
1000000         1
327680          1
760000          1
690000          1
Name: count, Length: 82, dtype: int64

Column: X2
Number of unique values: 3
Value counts:
X2
2      18112
1      11888
SEX        1
Name: count, dtype: int64

Column: X3
Number of unique values: 8
Value counts:
X3
2            14030
1            10585
3             4917
5              280
4              123
6               51
0               14
EDUCATION        1
Name: count, dtype: int64

Column: X4
Number of unique values: 5
Value counts:
X4
2           15964
1           13659
3             323
0              54
MARRIAGE        1
Name: count, dtype: int64

Column: X5
Number of unique values: 57
Value counts:
X5
29     1605
27     1477
28     1409
30     1395
26     1256
31     1217
25     1186
34     1162
32     1158
33     1146
24     1127
35     1113
36     1108
37     1041
39      954
38      944
23      931
40      870
41      824
42      794
44      700
43      670
45      617
46      570
22      560
47      501
48      466
49      452
50      411
51      340
53      325
52      304
54      247
55      209
56      178
57      122
58      122
59       83
21       67
60       67
61       56
62       44
64       31
63       31
66       25
65       24
67       16
69       15
70       10
68        5
73        4
71        3
75        3
72        3
AGE       1
79        1
74        1
Name: count, dtype: int64

Column: X6
Number of unique values: 12
Value counts:
X6
0        14737
-1        5686
1         3688
-2        2759
2         2667
3          322
4           76
5           26
8           19
6           11
7            9
PAY_0        1
Name: count, dtype: int64

Column: X7
Number of unique values: 12
Value counts:
X7
0        15730
-1        6050
2         3927
-2        3782
3          326
4           99
1           28
5           25
7           20
6           12
PAY_2        1
8            1
Name: count, dtype: int64

Column: X8
Number of unique values: 12
Value counts:
X8
0        15764
-1        5938
-2        4085
2         3819
3          240
4           76
7           27
6           23
5           21
1            4
8            3
PAY_3        1
Name: count, dtype: int64

Column: X9
Number of unique values: 12
Value counts:
X9
0        16455
-1        5687
-2        4348
2         3159
3          180
4           69
7           58
5           35
6            5
1            2
8            2
PAY_4        1
Name: count, dtype: int64

Column: X10
Number of unique values: 11
Value counts:
X10
0        16947
-1        5539
-2        4546
2         2626
3          178
4           84
7           58
5           17
6            4
PAY_5        1
8            1
Name: count, dtype: int64

Column: X11
Number of unique values: 11
Value counts:
X11
0        16286
-1        5740
-2        4895
2         2766
3          184
4           49
7           46
6           19
5           13
8            2
PAY_6        1
Name: count, dtype: int64

Column: X12
Number of unique values: 22724
Value counts:
X12
0        2008
390       244
780        76
326        72
316        63
         ...
91431       1
17919       1
20104       1
46301       1
11636       1
Name: count, Length: 22724, dtype: int64

Column: X13
Number of unique values: 22347
Value counts:
X13
0         2506
390        231
326         75
780         75
316         72
          ...
134663       1
136692       1
49710        1
15170        1
14096        1
Name: count, Length: 22347, dtype: int64

Column: X14
Number of unique values: 22027
Value counts:
X14
0         2870
390        275
780         74
326         63
316         62
          ...
73043        1
45333        1
309019       1
162231       1
19580        1
Name: count, Length: 22027, dtype: int64

Column: X15
Number of unique values: 21549
Value counts:
X15
0         3195
390        246
780        101
316         68
326         62
          ...
1993         1
108047       1
245750       1
138262       1
70626        1
Name: count, Length: 21549, dtype: int64

Column: X16
Number of unique values: 21011
Value counts:
X16
0         3506
390        235
780         94
316         79
326         62
          ...
5856         1
47151        1
144839       1
216540       1
9072         1
Name: count, Length: 21011, dtype: int64

Column: X17
Number of unique values: 20605
Value counts:
X17
0        4020
390       207
780        86
150        78
316        77
         ...
2870        1
19487       1
73612       1
36923       1
5665        1
Name: count, Length: 20605, dtype: int64

Column: X18
Number of unique values: 7944
Value counts:
X18
0         5249
2000      1363
3000       891
5000       698
1500       507
          ...
14594        1
6307         1
4035         1
14302        1
300039       1
Name: count, Length: 7944, dtype: int64

Column: X19
Number of unique values: 7900
Value counts:
X19
0        5396
2000     1290
3000      857
5000      717
1000      594
         ...
8060        1
30029       1
9966        1
21229       1
9906        1
Name: count, Length: 7900, dtype: int64

Column: X20
Number of unique values: 7519
Value counts:
X20
0        5968
2000     1285
1000     1103
3000      870
5000      721
         ...
9342        1
25118       1
6373        1
75940       1
38000       1
Name: count, Length: 7519, dtype: int64

Column: X21
Number of unique values: 6938
Value counts:
X21
0        6408
1000     1394
2000     1214
3000      887
5000      810
         ...
19369       1
1967        1
18293       1
8921        1
15244       1
Name: count, Length: 6938, dtype: int64

Column: X22
Number of unique values: 6898
Value counts:
X22
0        6703
1000     1340
2000     1323
3000      947
5000      814
         ...
9451        1
5546        1
22197       1
33720       1
2533        1
Name: count, Length: 6898, dtype: int64

Column: X23
Number of unique values: 6940
Value counts:
X23
0        7173
1000     1299
2000     1295
3000      914
5000      808
         ...
71946       1
10003       1
73421       1
1858        1
43215       1
Name: count, Length: 6940, dtype: int64

Column: Y
Number of unique values: 3
Value counts:
Y
0                             23364
1                              6636
default payment next month        1
Name: count, dtype: int64

Basic Data Quality Checks

In [19]:
print("\n8. Basic Data Quality Checks:")
print("\nMissing Values:")
print(df.isnull().sum())

print("\nDuplicate Rows:")
print(df.duplicated().sum())

8. Basic Data Quality Checks:

Missing Values:
Unnamed: 0    0
X1            0
X2            0
X3            0
X4            0
X5            0
X6            0
X7            0
X8            0
X9            0
X10           0
X11           0
X12           0
X13           0
X14           0
X15           0
X16           0
X17           0
X18           0
X19           0
X20           0
X21           0
X22           0
X23           0
Y             0
dtype: int64

Duplicate Rows:
0

Outlier Detection and Treatment

In [1]:
def detect_and_treat_outliers(df, columns):
    df_clean = df.copy()

    for column in columns:
        Q1 = df_clean[column].quantile(0.25)
        Q3 = df_clean[column].quantile(0.75)
        IQR = Q3 - Q1